---
import Breadcrumbs from '@/components/Breadcrumbs.astro';
import Container from '@/components/Container.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import { SITE } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

const projects = await getCollection('projects');

type Project = CollectionEntry<'projects'>;
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">Some more about me</h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          My name is Jack. I live in the NYC area, love music, and am a chronic
          nerd. I'm a software engineer specializing in full stack development
          using React, Node, and Go.

          <br />
          <br />

          I offer software consulting services for small to medium sized
          businesses on a case-by-case basis. I am currently not accepting new
          work.
        </p>

        <p class="prose prose-neutral mb-8 dark:prose-invert">
          I spend most of my free time working on software projects, but when
          I'm not doing that you can probably find me watching the Phillies, or
          enjoying time with my fiance and our dog.
        </p>

        <h2 class="mb-4 text-2xl font-semibold">Project showcase</h2>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {
            projects.map((project: Project) => (
              <ProjectCard project={project} />
            ))
          }
        </div>
      </div>
    </section>
  </Container>
</Layout>
