---
import BlogCard from '@/components/BlogCard.astro';
import Container from '@/components/Container.astro';
import Link from '@/components/Link.astro';
import { BackgroundParticles } from '@/components/ui/BackgroundParticles';
import { buttonVariants } from '@/components/ui/button';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { SITE } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

type Blog = CollectionEntry<'blog'>;

const blog = (await getCollection('blog'))
  .filter((post: Blog) => !post.data.draft)
  .sort((a: Blog, b: Blog) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <BackgroundParticles client:only="react" />
  <Container class="flex flex-col gap-y-6">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-3xl"
            >Jack Quinn is a NYC-based software engineer</CardTitle
          >
          <CardDescription>
            <p>
              Currently building the future of human-centric AI at <Link
                class="underline"
                href="https://newmemories.io">New Memories</Link
              >.
            </p>
            <br />
            <p>
              I'm an experienced software engineer who builds products and
              services using frontier technologies. I have a B.S. in Computer
              Science from Penn State University.
            </p>
            <br />
            <p>
              I spent my junior years as a software engineer at Capital One,
              where I quickly rose to Lead Software Engineer working on the
              Model Training Infrastructure team.
            </p>
            <br />
            <p>
              I'm currently working on <Link
                class="underline"
                href="https://newmemories.io">New Memories</Link
              >, a product company that builds tools designed to enhance the
              human experience. Stay tuned for our first product release!
            </p>
            <br />
            <p>
              I enjoy writing about my work and experiences. See some of my
              recent posts below.
            </p>
            <br />
            <p>
              Check out the <Link class="underline" href="/about">about</Link> page
              to see some of my recent work.
            </p>
          </CardDescription>
        </CardHeader>
        <CardContent />
      </Card>
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post: Blog) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
