---
import BlogCard from '@/components/BlogCard.astro';
import Container from '@/components/Container.astro';
import Link from '@/components/Link.astro';
import { BackgroundParticles } from '@/components/ui/BackgroundParticles';
import { buttonVariants } from '@/components/ui/button';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { SITE } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import { type CollectionEntry, getCollection } from 'astro:content';

type Blog = CollectionEntry<'blog'>;

const blog = (await getCollection('blog'))
  .filter((post: Blog) => !post.data.draft)
  .sort((a: Blog, b: Blog) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <BackgroundParticles client:only="react" />
  <Container class="flex flex-col gap-y-6">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-3xl"
            >Jack Quinn is a NYC-based software engineer</CardTitle
          >
          <CardDescription>
            <p>
              Full-stack senior software engineer with a passion for building
              innovative web applications. Currently working in Model Training
              Infrastructure at Capital One.
            </p>
            <br />
            <p>
              I earned my B.S. in Computer Science from Penn State University
              and am an alumnus of the prestigious Happy Valley LaunchBox
              startup accelerator. My passion is building tools and products
              that haven't been done before.
            </p>
            <br />
            <p>
              Below you'll find my latest posts that showcase my work at the
              intersection of web development and machine learning. Check out my <Link
                class="underline"
                href="/about">about</Link
              > page to see some of my recent work.
            </p>
          </CardDescription>
        </CardHeader>
        <CardContent />
      </Card>
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post: Blog) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
