---
import { BackgroundParticles } from '@/components/BackgroundParticles';
import BlogCard from '@/components/BlogCard.astro';
import Container from '@/components/Container.astro';
import Link from '@/components/Link.astro';
import { buttonVariants } from '@/components/ui/button';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card';
import { SITE } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <BackgroundParticles client:only="react" />
  <Container class="flex flex-col gap-y-6">
    <section>
      <Card>
        <CardHeader>
          <CardTitle className="text-3xl">Hello! 👋</CardTitle>
          <CardDescription>
            <p>
              I'm a software engineer based in the NYC metro area. I love to try
              out new technologies and build things that make a difference.
            </p>
            <br />
            <p>
              Click <Link href="/about" class="underline">here</Link> to learn more
              about me and my projects.
            </p>
            <br />
            <p>Check out some of my recent writings below.</p>
          </CardDescription>
        </CardHeader>
        <CardContent />
      </Card>
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
